# .env_
# Development settings
# Set to "true" to show stack trace, "false" or anything else to hide it
USER_NAME="joe bloggs"
USER_ID="239482"
USER_KEY="reading,gaming,hiking"
NODE_ENV="development"
HOSTNAME="localhost"
PORT="3000"
DEBUG=false
