<!DOCTYPE html>
<html>

<head>
  <title>
    <%= user.name %>'s Profile
  </title>
</head>

<body>
  <h1>
    <%= user.name %>'s Profile
  </h1>
  <p>ID: <%= user.id %>
  </p>
  <h2>Hobbies</h2>
  <ul>
    <% user.key.forEach(item=> { %>
      <li>
        <%= item %>
      </li>
      <% }); %>
  </ul>
</body>

</html>