<head>
  <title><%= title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/public/styles/style.css" />
  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="/public/icons/favicon.ico" />

  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/public/icons/favicon-32.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/public/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/public/icons/icon-192.png"
  />
</head>
