<nav>
  <ul>
    <li><a href="<%= basePath %>/">Home</a></li>
    <li><a href="<%= basePath %>/about">About</a></li>
    <li><a href="<%= basePath %>/profile">Profile</a></li>
    <li><a href="<%= basePath %>/contact">Contact</a></li>
  </ul>
</nav>
